<div class="reset-password position-relative">
  <div class="overlay">
    <div class="shadow"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8">
        <ng-container *ngIf="showWaiting">
          <app-waiting></app-waiting>
        </ng-container>

        <div class="reset-password-form">
          <h2>اعادة تعيين كلمة مرور جديدة</h2>
          <form #form="ngForm" (ngSubmit)="resetPassword(form.value)">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>كلمة المرور الجديدة</mat-label>
              <input
                type="password"
                name="password"
                matInput
                ngModel
                #pass="ngModel"
                required
                minlength="8"
              />
              <mat-error *ngIf="pass.hasError('minlength') && pass.dirty">
                رجاءا ادخل كلمة مرور لا تقل عن 8 احرف و ارقام!
              </mat-error>
              <mat-error *ngIf="pass.hasError('required') && pass.dirty">
                هذا الحقل <strong>اجباري</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>تأكيد كلمة المرور</mat-label>
              <input
                type="password"
                name="confpassword"
                matInput
                ngModel
                #confpass="ngModel"
                required
                minlength="8"
              />
              <mat-error
                *ngIf="confpass.hasError('minlength') && confpass.dirty"
              >
                رجاءا ادخل كلمة مرور لا تقل عن 8 احرف و ارقام!
              </mat-error>
              <mat-error
                *ngIf="confpass.hasError('required') && confpass.dirty"
              >
                هذا الحقل <strong>اجباري</strong>
              </mat-error>
              <span
                class="error"
                *ngIf="
                  confpass.value !== pass.value &&
                  !confpass.hasError('required') &&
                  !confpass.hasError('minlength')
                "
              >
                <span>كلمة المرور غير متطابقة رجاءا اعد كتابة كلمة المرور</span>
              </span>
            </mat-form-field>

            <button
              type="submit"
              mat-raised-button
              color="primary"
              [disabled]="form.invalid || confpass.value != pass.value"
            >
              حفظ التعديل
            </button>
          </form>
        </div>
      </div>
      <div class="col-lg-4 d-none d-lg-block">
        <div class="reset-password-img text-center">
          <img src="/assets/imgs/logo.jpg" alt="logo img" />
          <h3>Company Name</h3>
          <p>Company Name</p>
        </div>
      </div>
    </div>
  </div>
</div>
