<div class="forget-password position-relative">
  <div class="overlay">
    <div class="shadow"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 position-relative">
        <ng-container *ngIf="showWaiting">
          <app-waiting></app-waiting>
        </ng-container>
        <div class="forget-password-form">
          <h2>اعادة تعيين كلمة المرور</h2>
          <p>
            سيتم ارسال كلمة مرور عشوائية عبر البريد الالكتروني لتتمكن من الدخول
            و يمكن تغيرها بعد ذلك من ملفك الشخصي
          </p>
          <form #form="ngForm" (ngSubmit)="sendMail(form.value)">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>البريد الالكتروني</mat-label>
              <input
                type="email"
                matInput
                name="email"
                ngModel
                #email="ngModel"
                placeholder="Ex. pat@example.com"
                required
                email
              />
              <mat-error
                *ngIf="email.hasError('email') && !email.hasError('required')"
              >
                رجاءا قم بادخال بريد الكتروني صحيح
              </mat-error>
              <mat-error *ngIf="email.hasError('required')">
                هذا الحقل <strong>اجباري</strong>
              </mat-error>
            </mat-form-field>

            <button
              type="submit"
              mat-raised-button
              color="primary"
              [disabled]="form.invalid"
            >
              ارسال
            </button>
          </form>
        </div>
      </div>
      <div class="col-lg-4 d-none d-lg-block">
        <div class="forget-password-img text-center">
          <img src="/assets/imgs/logo.jpg" alt="logo img" />
          <h3>Company Name</h3>
          <p>Company Name</p>
        </div>
      </div>
    </div>
  </div>
</div>
