.forget-password {
  padding: 80px 0px;
}

/* *********** */
.forget-password .overlay {
  position: absolute;
  width: 485px;
  height: 100%;
  top: 0px;
  left: 0px;
  background-image: url("/assets/imgs/2.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: -1;
}
.forget-password .overlay .shadow {
  width: 100%;
  height: 100%;
  background-color: #056eb85d;
}

/* *********** */
.forget-password .container {
  background-color: #f7f7f7;
  box-shadow: 0px 0px 20px 2px rgb(2 2 2 / 15%);
  border-radius: 5px;
}
.forget-password .container .row .col-lg-8,
.forget-password .container .row .col-lg-4 {
  padding: 70px 0px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.forget-password .container .row .col-lg-4 {
  background-color: #056eb8;
}

/* *********** */
.forget-password-form {
  width: 60%;
  margin: auto;
  text-align: right !important;
}
.forget-password-form h2 {
  display: inline-block;
  color: #056eb8;
  position: relative;
  padding-bottom: 7px;
  margin-bottom: 20px;
}
.forget-password-form > p {
  color: #056eb8;
  margin-bottom: 30px;
  text-align: justify;
  line-height: 1.7em;
}
.forget-password-form h2::after {
  content: "";
  position: absolute;
  bottom: -3px;
  right: 0px;
  width: 60px;
  height: 3px;
  border-radius: 5px;
  background-color: #056eb8;
}
.register-link {
  margin-top: 25px;
  letter-spacing: 1px;
  font-weight: 500;
  color: #737373;
}
.register-link a {
  color: #056eb8;
  transition: 0.4s;
}
.register-link a:hover {
  color: #056eb8 !important;
}
:host::ng-deep .mat-form-field {
  display: block;
  text-align: right;
  margin-bottom: 10px;
}
:host::ng-deep .mat-form-field-flex {
  background-color: #f1f1f1;
  box-shadow: 0px 0px 2px 1px rgb(0 0 0 / 10%);
}
:host::ng-deep
  button.mat-focus-indicator.mat-raised-button.mat-button-base.mat-primary {
  background-color: #056eb8;
}
/* *********** */
.forget-password .forget-password-img {
  color: #f7f7f7 !important;
}

.forget-password .forget-password-img img {
  width: 85px !important;
  height: 100px !important;
  border-radius: 5px;
  background: #f7f7f742;
  padding: 5px 10px 10px;
}
.forget-password .forget-password-img h3 {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 600;
  margin: 10px 0px 8px;
}
.forget-password .forget-password-img p {
  font-size: 14px;
  margin-bottom: 0px;
  letter-spacing: 1px;
}

@media (max-width: 991.9px) {
  .forget-password .overlay {
    width: 50% !important;
  }
  .forget-password-form {
    width: 80% !important;
  }
}
